/* color (yello)#F2E6B1
secondary color (blue) #83B2D0 */
* {
  box-sizing: border-box;
}

header {
  position: relative;
  width: 100%;
  background-color: #83B2D0;
  box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
  padding: 0 0;
  margin: 0 0;
  border-bottom: 3px solid #4a4a4a;
  text-align: center;
}

nav {
  display: inline-block;
  width: 100%;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;
}

main {
  padding-top: 200px;
}

/* text styling */
body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  text-align: center;
}

p {
  display: block;
  text-align: center;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  color: #000000;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 2.10em;
  font-weight: 700;
  text-align: center;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
  text-align: center;
}

img {
  width: 80%;
}

a {
  color: #000000;
  text-decoration: underline;
  text-align: center;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #000000;
}

a:active {
  /* selected link */
  color: #000000;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #00AEFC;
  color: #000000;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
}

#work {
  margin: 0 25px;
  /* 25 px top and bottom, 15 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

#hero {
  background-color: #F2E6B1;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

.logo {
  max-width: 250px;
}

.center {
  text-align: center;
}

footer {
  background-color: #ffffff;
  width: 100%;
  padding: 0 0;
  margin-top: 0 0;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    position: fixed;
    width: 100%;
    background-color: #83B2D0;
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
    padding: 0 13px;
    margin: 0 0;
    border-bottom: 3px solid #4a4a4a;
    text-align: unset;
}

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>li>a {
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
  }

  main {
    padding-top: 0;
  }

  #hero {
    background-color: #F2E6B1;
    padding-top: 200px;
    display: block;
    width: 100%;
  }

  #hero span {
  display: block;
  padding: 15px 15px;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#work h2 {
  text-align: center;
  /* Centers text */
}



body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  text-align: left;
}

p {
  display: block;
  text-align: left;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  color: #000000;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
  text-align: left;
}

h2 {
  font-size: 2.10em;
  font-weight: 700;
  text-align: left;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
  text-align: left;
}

img {
  width: 80%;
}

a {
  color: #000000;
  text-decoration: underline;
  text-align: center;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #000000;
}

a:active {
  /* selected link */
  color: #000000;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #00AEFC;
  color: #000000;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px 10px;
}

.col-md-6 {
  width: 50%;
}

#work {
  margin: 0 25px;
  /* 25 px top and bottom, 15 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 250px;

}

.center {
  text-align: left;
}

footer {
  background-color: #ffffff;
  width: 100%;
  padding: 0 0;
  margin-top: 0 0;
  text-align: center;
}

#contact h2 {
  text-align: center;
}

#contact p {
  text-align: center;
}



}
















/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

  header {
    position: fixed;
    width: 100%;
    background-color: #83B2D0;
    box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.42);
    padding: 0 13px;
    margin: 0 0;
    border-bottom: 3px solid #4a4a4a;
    text-align: unset;
}

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  nav>ul {
    list-style-type: none;
    padding: 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  nav>ul>li>a {
    padding: 0 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
  }

  main {
    padding-top: 0;
  }

  #hero {
    background-color: #F2E6B1;
    padding-top: 200px;
    display: block;
    width: 100%;
  }

  #hero span {
  display: block;
  padding: 15px 15px;
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#work h2 {
  text-align: center;
  /* Centers text */
}



body {
  background-color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #000000;
  text-align: left;
}

p {
  display: block;
  text-align: left;
}

h1, h2, h3, h4 {
  line-height: 1.4;
  color: #000000;
}

h1 {
  font-size: 2.50em;
  font-weight: 700;
  text-align: left;
}

h2 {
  font-size: 2.10em;
  font-weight: 700;
  text-align: left;
}

h3 {
  font-size: 1.50em;
  font-weight: 400;
  text-align: left;
}

img {
  width: 80%;
}

a {
  color: #000000;
  text-decoration: underline;
  text-align: center;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}

a:visited {
  /* visited link */
  color: #000000;
}

a:active {
  /* selected link */
  color: #000000;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}
.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #000000;
}

.button.contact:hover {
  background-color: #00AEFC;
  color: #000000;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px 10px;
}

.col-md-6 {
  width: 50%;
}

.col-lg-7 {
  width: 60%;
}

.col-lg-5 {
  width: 40%;
}

#work {
  margin: 0 25px;
  /* 25 px top and bottom, 15 left and right */
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 250px;

}

.center {
  text-align: left;
}

footer {
  background-color: #ffffff;
  width: 100%;
  padding: 0 0;
  margin-top: 0 0;
  text-align: center;
}

#contact h2 {
  text-align: center;
}

#contact p {
  text-align: center;
}


}








}












/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
