/* color (brown)#ef9273
secondary color (cream) #fef9f8 */

/* general styling */
* {
  box-sizing: border-box;
}

/* typography */
body {
  font-family: 'Sathu', sans-serif;
  line-height: 1.5em;
  font-size: 1em;
  font-weight: 300;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'New York', serif;
  display: inline-block;
  line-height: 1em;
  width: 100%;
  color: #000000;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 500;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
}

h4 {
  font-size: 1.25em;
  font-weight: 400;
}

h5 {
  font-size: 1em;
  font-weight: 500;
}

span {
  font-family: 'New York', serif;
  line-height: 1.25em;
  font-size: 2em;
  font-weight: 300;
  color: #000000;
}

blockquote {
  font-family: 'New York', serif;
  font-size: 1.5em;
  line-height: 1.25em;
  font-weight: 100;
  font-style: italic;
  text-align: center;
  border: 1px solid #ffffff;
  margin: auto;
  padding: 50px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.labels {
  font-size: 0.75em;
  text-align: center;
}

.left {
  text-align: left;
}

.centered {
  text-align: center;
}

.right {
  text-align: right;
}

.topcorrect {
  margin-top: 0;
  margin-bottom: 24px;
}


/* imagery */
img {
  max-width: 80%;
}

.fullcover {
  width: 100%;
}

/* links and buttons */
a,
a:visited {
  color: #aa6c2b;
  text-decoration: none;
font-weight: 400;
}

a:hover,
a:focus,
a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.button,
.button:visited {
  display: inline-block;
  background-color: #aa6c2b;
  color: #ffffff;
  font-weight: 400;
  padding: 10px 26px;
  border-radius: 4px;
}

.button:hover,
.button:focus,
.button:active {
  display: inline-block;
  background-color: transparent;
  color: #aa6c2b;
  font-weight: 400;
  padding: 10px 26px;
  border-radius: 4px;
  border: 2px solid #aa6c2b;
  transition-duration: 0.2s;
  transition-property: opacity;
}


.button:hover {
  opacity: 0.8;
}

.inlinelink {
  color: #000000;
  text-decoration: none;
}

/* header and footer */
header {
  background-color: #c9aa88;
  padding: 12px 0 0;
  margin: 0 auto;
  position: fixed;
  display: inline-block;
  width: 100%;
  box-shadow: 0 1px 5px 0 #ffffff;
  z-index: 10;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle {
  position: relative;
}

.navtoggle li .menuicon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 12px 0 0;
}

.navtoggle.responsive li {
  display: block;
  text-align: right;
  padding: 10px 0;
  border-top: 1px solid #c9aa88;
}

.navtoggle.responsive li:last-child {
  padding: 0;
}

.banner {
  color: #c9aa88;
  background-color: #ebd0b4;
}  

p {color: black;}

#welcome,
#contact {
  padding: 20px 0;
  text-align: center;
  display: inline-block;
  width: 100%;
}

/* general layout */
main {
  padding-top: 52px;
}

.container {
  padding: 0 12px;
}

.inset {
  background-color: #2b6777;
}

.section {
  margin: 100px 0;
}

.row {
  margin: 60px 0;
}

.subsection {
  margin: 48px 0;
}

.subrow {
  margin: 24px 0;
}

.logo {
  display: inline-block;
  color: #c9aa88;
}

.icon {
  margin: 6px;
}

.iconinner {
  display: flex;
  justify-content: center;
}

.justify {
  display: flex;
  justify-content: center;
}


/* all purpose columns and floats */
.col-2,
.col-3,
.col-5,
.col-6 {
  float: left;
  padding-right: 6px;
  padding-left: 6px;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33%;
}

.col-6 {
  width: 66%;
}

#about + .col-3 {
  max-width: 90px;
}

.flexrow {
  overflow: hidden;
}

.flexcol {
  float: left;
  padding-bottom: 100%;
  margin-bottom: -100%;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 2%;
}

.row::after,
.subrow::after,
.section::after,
.subsection::after {
  content: "";
  clear: both;
  display: table;
}
/* media queries */
@media (max-width: 639px) {
  #fallin-coins-invert {
    display: none;
  }
}


  .col-sm-1 {
    width: 100%;
    margin-bottom: 40px;
  }

  .col-sm-2 {
    width: 50%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 20px;
  }

  .col-sm-3 {
    width: 33%;
    float: left;
    padding-right: 6px;
    padding-left: 6px;
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 640px) {
    nav {
      width: auto;
      float: right;
    }
  
    nav > ul > li {
      display: inline-block;
      padding: 10px 24px 0;
    }
  
    .navtoggle li:not(:last-child) {
      display: inline-block;
    }
  
    .navtoggle li:last-child {
      display: none;
    }
  
    main {
      padding-top: 78px;
    }
  
    #about h4 {
      margin-top: 0;
    }
  
    #aboutchanges {
      width: 45%;
      margin-right: 5%;
    }
  
    .shifttext {
      text-align: center;
    }
  
    .container {
      padding: 0 20px;
    }
  
    [class*="col-"] {
      float: left;
      padding-right: 10px;
      padding-left: 10px;
    }
  
    .col-md-1 {
      width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  
    .col-md-2 {
      width: 33%;
    }
  
    .col-md-4 {
      width: 67%;
    }
  
    .flexcol {
      width: 48%;
    }
  
    .col-md-6,
    .mealsconclusion {
      width: 50%;
    }
  
    .col-md-5 {
      width: 20%;
    }
  
    .col-right {
      float: right;
    }
  
    .grid4 {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-gap: 4%;
    }
  
    .uxresults1 {
      grid-area: 1 / 1 / span 2 / 1;
    }
  
    .uxresults2 {
      grid-area: 1 / 2 / 1 / 2;
    }
  
    .uxresults3 {
      grid-area: 3 / 1 / 3 / 1;
    }
  
    .uxresults4 {
      grid-area: 2 / 2 / span 2 / 2;
    }
  
    .sifinal2 {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  
    .logo {
      padding-top: 24px;
      color: #c9aa88;
      font-size: 1.5em;
    }
  
  }
  
  @media (max-width: 1023px) {
    #robert,
    #alyssa {
      margin-top: 24px;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .container {
      padding: 0 100px;
    }
  
    [class*="col-lg-"] {
      float: left;
      padding-left: 20px;
      padding-right: 20px;
    }
  
    .col-lg-6 {
      width: 50%;
    }
  
    .col-lg-4 {
      width: 67%;
    }
  
    .col-lg-2 {
      width: 33%;
    }
  
    .hide-2 {
      margin-left: 33%;
    }
  
    #sihero {
      text-align: left;
    }
  
    .sifinal3 {
      display: grid;
      grid-template-columns: 20% 20% 20% 20% 20%;
    }
  
    .sistructure {
      display: grid;
      grid-template-columns: 48% 48%;
      grid-column-gap: 2%;
    }
  
    .sis1 {
      grid-area: 1/1;
    }
  
    .sis2 {
      grid-area: 2/1;
    }
  
    .sis3 {
      grid-area: 3/1;
    }
  
    .sis4 {
      grid-area: 4/1;
    }
  
    .sis5 {
      grid-area: 1/2;
    }
  
    .sis6 {
      grid-area: 2/2;
    }
  
    .sis7 {
      grid-area: 3/2;
    }
  
    .sis8 {
      grid-area: 4/2;
    }
  
    .offtype {
      margin-top: 8px;
    }
  
    #about h1,
    #about h2 {
      text-align: left;
      padding-left: 35%;
    }
  
    #robert {
      position: relative;
      top: 16px;
    }
  }
  
  @media only screen and (min-width: 1440px) {
    .container {
      max-width: 1400px;
      margin-left: auto;
      margin-right: auto;
    }
  }